{{- with endpoints "default" "nginx-deployment" -}}
servers:
{{- range .Subsets }}
{{- $ports := .Ports }}
{{- range .Addresses }}
{{- $ip := .IP }}
{{- range $ports }}
  - {{ $ip }}:{{ .Port }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

{{- with pods "default" "app=nginx" }}
servers:
{{- range .Items }}
  - {{ .Name }} with IP {{ .Status.PodIP }} with status {{ .Status.Phase }}
{{- end }}
{{- end }}
