{{- with endpoints "systems" "external-consul-dns" }}
servers:
{{- range .Subsets }}
{{- $ports := .Ports }}
{{- range .Addresses }}
{{- $ip := .IP }}
{{- range $ports }}
  - {{ $ip }}:{{ .Port }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

{{- with pods "systems" "" }}
servers:
{{- range .Items }}
  - {{ .Name }}:{{ .Status.PodIP }}
{{- end }}
{{- end }}